.container{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 40px;
    border: 3px solid #4CAF50;
    background-color: white;
    height: 30%;
    justify-content: center;
    position: fixed;
    top: 30%;
    left: 15%;
    border-radius: 15px;
}